<section class="section-block">
  <div class="section-header">
    <h2>Notes</h2>
  </div>

  <%= render page.notes_state_partial, page: page %>
  <%= render page.note_form_partial, page: page %>
</section>
