.DS_Store
.env
node_modules/

/monolith/config/master.key
/monolith/log/*
!/monolith/log/.keep
/monolith/tmp/*
!/monolith/tmp/.keep
!/monolith/tmp/pids/
/monolith/tmp/pids/*
!/monolith/tmp/pids/.keep
/monolith/storage/*
!/monolith/storage/.keep

/workload-lab/archive/*
!/workload-lab/archive/README.md
