<% content_for :title, "New Customer" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Customer</p>
    <h1>New Customer</h1>
  </div>
  <%= link_to "Back to Customers", customers_path, class: "secondary-button" %>
</section>

<%= render "form", customer: @customer %>
