<% content_for :title, "New Service Provider" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Service Provider</p>
    <h1>New Service Provider</h1>
  </div>
  <%= link_to "Back to Providers", service_providers_path, class: "secondary-button" %>
</section>

<%= render "form", service_provider: @service_provider %>
