<section class="section-block">
  <h2>Actual Costs</h2>
  <p class="section-intro"><%= page.actual_cost_summary %></p>
  <%= render page.cost_state_partial, page: page %>
  <%= render page.cost_form_partial, page: page %>
</section>
