<span class="evidence-file-name"><%= evidence_file.fetch(:filename) %></span>
<span class="evidence-file-meta"><%= evidence_file.fetch(:size) %> uploaded by <%= evidence_file.fetch(:uploaded_by) %> at <%= evidence_file.fetch(:uploaded_at) %></span>
