<section class="section-block">
  <div class="section-heading-row">
    <h2>Service Feedback</h2>
  </div>
  <%= render page.feedback_state_partial, page: page %>
  <%= render page.feedback_form_partial, page: page %>
</section>
