<% content_for :title, "Service Requests" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Operations Queue</p>
    <h1>Service Requests</h1>
  </div>
  <%= link_to "New Request", new_service_request_path, class: "primary-button" %>
</section>

<%= render "table", service_requests: @service_requests %>
